/* Write your CSS here */
.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #303150, #b5b9ff);
  height: 60vh;
  width: 60%;
  border-radius: 30px;
}
